<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>{% if page.title %}{{ page.title }} — {% endif %} {{  site.title }}</title>
	<script type="text/javascript">
		(function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
	</script>
	<!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-38efb94df947b3cd3a23df3912a39425.css" media="screen" rel="stylesheet" type="text/css"><!--<![endif]-->
	<!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie6-caf8015d1adebd6d4cf593d9a4fd9f3c.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie7-83db82764ed0a99c32a59214b97125ef.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie8-fbe52fdffb12e80999cca31911db9792.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
	
	<link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-print-e8347470022aae909a6076606e53d420.css" media="print" rel="stylesheet" type="text/css">
	<!--[if IE 8]>
		<script type="text/javascript">
			(function(){if(window.opera){return;}
			 setTimeout(function(){var a=document,g,b={families:(g=
			 ["nta"]),urls:["https://assets.digital.cabinet-office.gov.uk/static/fonts-ie8-a7369d48db4c172b4371ab9def59c5c9.css"]},
			 c="https://assets.digital.cabinet-office.gov.uk/static/vendor/goog/webfont-debug-96870cf9f159ed811fd43c39bdf4656b.js",d="script",
			 e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
			 ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
			 .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
			})()
		</script>
	<![endif]-->
	<!--[if gte IE 9]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/fonts-607c54f71c7c1f98257595cedaa13a34.css" media="all" rel="stylesheet" type="text/css"><!--<![endif]-->
	<!--[if lt IE 9]><script src="https://assets.digital.cabinet-office.gov.uk/static/ie-fc5bd25c5f46587b9bff917417ab2b7f.js" type="text/javascript"></script><![endif]-->

<!-- GOV.UK FAVICONS ETC REMOVED AND REPLACD BY DATA. GOV.UK EQUIVALENTS -->
	<!--
	<link rel="shortcut icon" href="https://assets.digital.cabinet-office.gov.uk/static/favicon-447e4ac1ab790342660eacfe3dcce264.ico" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-144x144-4e306e01c31e237722b82b7aa7130082.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-114x114-f1d7ccdc7b86d923386b373a9ba5e3db.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-72x72-2ddbe540853e3ba0d30fbad2a95eab3c.png">
	<link rel="apple-touch-icon-precomposed" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-57x57-37527434942ed8407b091aae5feff3f3.png">
-->
	<link rel="shortcut icon" href="http://data.gov.uk/profiles/dgu/themes/custom/dguk/favicon.ico" type="image/vnd.microsoft.icon">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:image" content="https://assets.digital.cabinet-office.gov.uk/static/opengraph-image-4e469785ca4cc8f8dd18d0627bc43d19.png">

	<!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-8d13d0a2452540781c3afeabb8fa41d4.css" media="screen" rel="stylesheet" type="text/css">
	<!--<![endif]--><!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-ie6-fbab1e1495487590ecb22887128e838a.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-ie7-1081cdb7421ff339c3c0e17f29e10dfa.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-ie8-a2804c7e259e9caaec2f6d6ab416ca10.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><link href="https://assets.digital.cabinet-office.gov.uk/static/print-962d6ad53c9d2dc9f033d26dcab8c33a.css" media="print" rel="stylesheet" type="text/css">
	<!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/html-publication-9c2517af58f4261c2784a1291912652f.css" media="screen" rel="stylesheet" type="text/css">
	<!--<![endif]--><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/print-89aed97a7440f5f08f86733a943f41c5.css" media="print" rel="stylesheet" type="text/css">
	<!-- commented out as they break validation
	<meta content="True" name="HandheldFriendly">
	<meta content="320" name="MobileOptimized"> -->

	<!-- styles for publications -->

	<!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/html-publication-ie6-c8c48d6dba635e680495be52e8790061.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/html-publication-ie7-6d0134ba88a6fa84271ec24eda8e70fc.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/government/assets/frontend/html-publication-ie8-d16ae2af06c72703e9b68878b6bb5228.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 8;</script><![endif]-->

	<!-- styles for landing pages -->

	<link href="https://assets.digital.cabinet-office.gov.uk/static/application-ca465f9e8b68bd822533a1cb06c5bdee.css" media="screen" rel="stylesheet" type="text/css">
	<!--<![endif]--><!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/static/application-ie6-e3c60d80ceef942454b284a11700fd5d.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/static/application-ie7-c217a4afa73ebb7e5e5c3eec9cac1a74.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/static/application-ie8-2ebb0fc525a016143b8be35e8f3aff28.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
	<link href="https://assets.digital.cabinet-office.gov.uk/static/print-962d6ad53c9d2dc9f033d26dcab8c33a.css" media="print" rel="stylesheet" type="text/css">

	<!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/frontend/application-e4c1d7a9e49fa365372c6e8a70fd272a.css" media="screen" rel="stylesheet" type="text/css"><!--<![endif]-->
	<!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/frontend/application-ie6-4158f116806379f62d852f7eb6c52a87.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/frontend/application-ie7-a2b5ab820809f8af27ad3b67a463ca5b.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/frontend/application-ie8-9eef084b103bfab17202f7740801008f.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

	<!-- local version of stylesheets for offline working: comment out in production? 
	<link href="/assets/stylesheets/application-ca465f9e8b68bd822533a1cb06c5bdee.css" media="screen" rel="stylesheet" type="text/css">
	<link href="/assets/stylesheets/application-e4c1d7a9e49fa365372c6e8a70fd272a.css" media="screen" rel="stylesheet" type="text/css">
	<link href="/assets/stylesheets/govuk-template-38efb94df947b3cd3a23df3912a39425.css" media="screen" rel="stylesheet" type="text/css">
	<link href="/assets/stylesheets/header-footer-only-8d13d0a2452540781c3afeabb8fa41d4.css" media="screen" rel="stylesheet" type="text/css">
	<link href="/assets/stylesheets/html-publication-9c2517af58f4261c2784a1291912652f.css" media="screen" rel="stylesheet" type="text/css"> -->

	<!-- hacks for this site only -->
	<link href="/assets/stylesheets/ukgovldwg.css" media="screen" rel="stylesheet" type="text/css">
	<style>
		/* branding colours via jekyll config aka the poor man's SASS */
		/* #wrapper {border-bottom:10px solid {{site.BRAND_COLOUR}};} */
		.related {border-top:10px solid {{site.BRAND_COLOUR}};}
		#footer {background:{{site.BRAND_COLOUR_LIGHT}} !important; border-top:0 !important;}
		#footer ul {border-top-color: {{site.BRAND_COLOUR}} !important;}
		#footer .footer-categories{border-bottom: 1px solid {{site.BRAND_COLOUR}} !important;}
		.organisation a {border-left:2px solid {{site.BRAND_COLOUR}} !important;}
		.publication-header{background:{{site.BRAND_COLOUR}} !important;}
	</style>

</head>
