	<div id="whitehall-wrapper">
		<div class="whitehall-content">
			<div class="html-publications-show" style="padding-bottom:0;">
				<div class="block publication-external">
					<div class="inner-block floated-children">
						<ul class="organisations-icon-list organisations">
							<li class="organisation">
								<a href="/" class="organisation-logo organisation-logo-stacked-ho organisation-logo-stacked-ho-medium" style="background-image:none">
									<span>UK Government Linked Data Working Group</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>